body {
	font-family: 'Gilroy', sans-serif;
	font-style: normal;
	font-weight: 400;
}

.wrap {
	min-height: 90vh;
}

h1 {
	font-weight: bold;
	font-size: 4em;
	text-transform: uppercase;
	text-align: center;
}

h2 {
	font-weight: bold;
	font-size: 2em;
	text-transform: uppercase;
}

table {
	border-collapse: collapse;
	margin: 0 auto;
	margin-top: 3em;
	text-align: center;
}

td {
	border: 2px dotted #00cc9c;
	padding: 1em;
}

#date {
	border: 2px solid #b81816;
	display: table-cell;
	width: 15em;
	height: 4em;
}

.footer {
	margin: 0 auto;
	text-align: center;
	color: #D99B20;
}